<template name='thirdLayout'>
    <div class='container-fluid' style='height:100%'>
        <div class='row secondWrap'>
            <div class="col-xs-12 header text-left">
                {{> secondHeader}}
            </div>
            {{> profily}}
            <div class='col-xs-12 footr text-center'>{{> yield}}
            </div>
        </div>
    </div>
</template>
<template name="profily">
    <div class='profily col-xs-12'>
        <div class="col-xs-12 transbox">
            <dl class="dl-horizontal box-shadow" style="top:50%; color: #333333; background: #ffffff;padding-left:15px; margin: 5px 0 0 10px; padding-top: 10px; padding-bottom: 10px;">
                <dt>Name</dt>
                <dd>&nbsp;{{Guy.username}}</dd>
                <dt>Email</dt>
                <dd>&nbsp;{{Guy.email}}</dd>
                <dt>Department</dt>
                <dd>&nbsp;{{Guy.dep}}</dd>
                <dt>City</dt>
                <dd>&nbsp;{{Guy.city}}</dd>
            </dl>
        </div>
    </div>
</template>
<template name='firstFooter'>
    <div class="col-sm-5 col-xs-10 text-left" style='padding-top:5px'>
        <em style='color:#333333; font-size:14px;'> Would you like to talk to Mr. {{connectedGuy}}?</em>
    </div>
    <div class="col-xs-2 text-center">
        <a href="/connects/{{connectedGuy}}" class="addThisGuy">
            <i class="fa fa-plus fa-2x"></i>
        </a>
    </div>
</template>
<template name='thirdFooter'>
    <div class="col-sm-5 col-xs-10 text-left" style='padding-top:5px'>
        <em style='color:#333333; font-size:14px;'>Wanna sign off from the app?</em>
    </div>
    <div class="col-xs-2 text-center">
        <a class='logout' href="/logout">
            <i class="fa fa-power-off fa-2x"></i>
        </a>
    </div>
</template>
